{% extends 'base.html.twig' %}
{% block title %}Listado de facturas de empresa
{% endblock %}
{% block nav %}
	{{ include('navbar/shownavbar.html.twig') }}
{% endblock %}
{% block body %}
	<div class="container" id="tableArea">
		<div class="row justify-content-center">
			<div class="col-9">
				<h1>Listado de facturas Empresa</h1>
			</div>
			<div class="col-3 text-right">
				{{form_start(form)}}
				{{form_label(form.buscar)}}{{form_widget(form.buscar)}}
				{{form_end(form)}}
			</div>
		</div>
		<div class="row mt-2">
			<div class="table-responsive text-nowrap">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nº Factura</th>
							<th>Fecha</th>
							<th width="400px">Descripción</th>
							<th>Cliente</th>
							<th>Subtotal (€)</th>
							<th>Total (€)</th>
							<th>acciones</th>
						</tr>
					</thead>
					<tbody>
						{% set sumSubtotal = 0 %}
						{% set sumTotal = 0 %}
						{% for invoiceseterprise in invoiceseterprises  %}
							<tr>
								<td align="right">{{ invoiceseterprise.invoicenumber}}</td>
								<td>{{ invoiceseterprise.date ? invoiceseterprise.date|date('Y-m-d') : '' }}</td>
								<td>{{ invoiceseterprise.description }}</td>
								<td>
									{% if invoiceseterprise.client.id != 0 %}
										{{ invoiceseterprise.client }}
									{% endif %}
								</td>
								<td align="right">{{ invoiceseterprise.subtotal }}€</td>
								<td align="right">{{ invoiceseterprise.total }}€</td>
								<td>
									{% if enterprise.nextinvoicenumber -1 == invoiceseterprise.invoicenumber %}
										<a title="Seleccionar" href="{{ path('invoice_show', {'id': invoiceseterprise.id}) }}">
											<i class="far fa-hand-pointer"></i>
										</a>
										<a title="Editar" href="{{ path('invoice_edit', {'id': invoiceseterprise.id}) }}">
											<i class="far fa-edit"></i>
										</a>
									{% endif %}
								</td>
								{% set sumSubtotal = sumSubtotal + invoiceseterprise.subtotal %}
								{% set sumTotal = sumTotal + invoiceseterprise.total %}
							</tr>
						{% else %}
							<tr>
								<td colspan="7">No se han encontrado resultados</td>
							</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td align="right">
								<strong>Total</strong>
							</td>
							<td align="right">
								<strong>{{sumSubtotal}}€</strong)>
							</td>
							<td align="right">
								<strong>{{sumTotal}}€</strong)>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		{# <a class="buttonize" href="{{ path('enterprise_index') }}">Regresar al listado de empresas</a> #}
	</div>
{% endblock %}
