{% extends 'base.html.twig' %}

{% block title %}Empresa
{% endblock %}

{% block nav %}
	{{ include('enterprise/shownavbar.html.twig') }}
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Empresa</h1>
		<table class="table table-striped table-light">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Direccion</th>
					<th scope="col">Telefono</th>
					<th scope="col">Email</th>
					<th scope="col">Web</th>
					<th scope="col">NIF</th>
					<th scope="col">Logo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ enterprise.name }}</td>
					<td>{{ enterprise.address }}</td>
					<td>{{ enterprise.telephone }}</td>
					<td>{{ enterprise.email }}</td>
					<td>{{ enterprise.web }}</td>
					<td>{{ enterprise.nif }}</td>
					<td>{{ enterprise.logo }}</td>
				</tr>
			</tbody>
		</table>
		<div class="row border mt-5 border-dark">

			<div class="col-sm-8">
				<div class="row">


					<div class="col-12">
						<div class="row">
							<div class="col-12 h6">Responsables de empresa</div>
						</div>

						{% for supervisor in supervisors %}
							<div>
								{{ supervisor}}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="row">
					<div class="col-12">
						<a href="{{ path('supervisor_index', {identerprise: enterprise.id} ) }}">Responsables de empresa</a>
					</div>
				</div>
			</div>


		</div>
		<div class="row border mt-5 border-dark">
			<div class="col-md-12 h6">
				Pie de empresa<br/>
				<p style="font-size: 10px">Para editar, ir a empresa</p>
				<p></p>
			</div>
			<div class="col-md-12">
				<a href="#">{{enterprise.footer}}</a>
			</div>
		</div>

		<div class="row border mt-5 border-dark">


			<div class="col-sm-8">
				<div class="row">
					<div class="col-12 h6">
						Redes Sociales
					</div>
				</div>
				{% for socialnetwork in enterprise.socialnetwork %}
					{{socialnetwork.network }}:
					{{socialnetwork}}
					-
					<a href="{{ path('social_network_edit', {id: socialnetwork.id}) }}">editar</a>
					{# <a href="{{ path('social_network_delete', {id: socialnetwork.id}) }}">eliminar</a><br/> #}


				{% endfor %}
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-12">
						<a href="{{ path('social_network_new', {identerprise: enterprise.id} ) }}">Añadir red social</a>
					</div>
				</div>
			</div>
		</div>

	</div>


	<a href="{{ path('enterprise_index') }}">back to list</a>
	<a href="{{ path('enterprise_edit', {'id': enterprise.id}) }}"><br/>edit</a>
	{{ include('enterprise/_delete_form.html.twig') }}
{% endblock %}
