{{ form(form) }}
{{ form_start(form) }}

	{{ form_row(form.date, {'label': 'Fecha'}) }}
	{{ form_row(form.description, {'label': 'Descripcion'}) }}
	{{ form_row(form.nif, {'label': 'DNI'}) }}
	{{ form_row(form.subtotal, {'label': 'Subtotal'}) }}
	{{ form_row(form.total, {'label': 'Total'}) }}
	{{ form_row(form.footer, {'label': 'Pie de pagina'}) }}

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
