{% extends 'base.html.twig' %}

{% block title %}Invoice index
{% endblock %}
{# {% block stylesheet %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %} #}
{% block body %}

	<div class="container">
		<h1>Invoice index</h1>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nº factura</th>
					<th>Fecha</th>
					<th>Descripción</th>
					<th>Pie de página</th>
					<th>Subtotal</th>
					<th>Total</th>
					<th>acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for invoice in invoices %}
					<tr>
						<td>{{ invoice.invoicenumber}}</td>
						<td>{{ invoice.date ? invoice.date|date('Y-m-d') : '' }}</td>
						<td>{{ invoice.description }}</td>
						<td>{{ invoice.footer }}</td>
						<td>{{ invoice.subtotal }}</td>
						<td>{{ invoice.total }}</td>
						<td>
							 <a href="{{ path('invoice_print', {'id': invoice.id}) }}"><img src="{{ asset('img/print.png')}}" width="25px"></a><i class="fas fa-print"></i> 
							{# <a href="{{ path('invoice_print', {'id': invoice.id}) }}"><i class="fas fa-print"></i></a> #}
							<a href="{{ path('invoice_show', {'id': invoice.id}) }}">show</a>
							<a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">No se han encontrado resultados</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

	<a href="{{ path('invoice_new', {'idclient': idclient}) }}">Create new</a>
{% endblock %}
