{% extends 'base.html.twig' %}

{% block title %}Indice de facturas{% endblock %}

{% block body %}
    <h1>Listado de facturas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numero de factura</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Pie de pag</th>
                <th>Subtotal</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoicenumber }}</td>
                <td>{{ invoice.date ? invoice.date|date('Y-m-d') : '' }}</td>
                <td>{{ invoice.description }}</td>
                <td>{{ invoice.footer }}</td>
                <td>{{ invoice.subtotal }}</td>
                <td>{{ invoice.total }}</td>
                <td>
                    <a href="{{ path('invoice_show', {'id': invoice.id}) }}">Mostrar</a>
                    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se han encontrado registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invoice_new') }}">Crear nueva factura</a>
{% endblock %}
