{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet"
           href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
           crossorigin="anonymous" />
     <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
     <script src="https://kit.fontawesome.com/ec7905829e.js" crossorigin="anonymous"></script>
     <style type="text/css">
         form{
             margin:20px;
             padding: 10px;
             background-color: chocolate;
             box-shadow: 0 0 15px #374dbc;
             border: 5px solid purple;
             align: center;
         }
         input{
             align-content: center;
             margin-left: 4px;
             background-color: #1d2124;
             color: yellow;
             box-shadow: 0 0 15px orange;
             border: 3px solid pink;
             align: center;
         }
         input:focus{
             background-color: yellow;
             color: black;
             box-shadow: 0 0 15px pink;
             border: 3px solid orange;
             transition: all 1s linear;
         }
         h1{
             color:orange;
             text-align: center;
         }
         a{
             color:black;
             text-align: center;
         }
     </style>
 {% endblock %}
{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/invoice.css') }}" />
    
{% endblock %}

{% block title %}Nueva factura{% endblock %}

{% block nav %}
{{ include('invoice/navbar.html.twig') }}
{% endblock %} 

{% block body %}  
    {{ form_start(form) }}
    {% include "invoice/baseinvoice.html.twig" %}
    
    
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {# <a href="{{ path('invoice_index') }}">back to list</a> #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/invoice.js') }}"></script>    
{% endblock %}