{% extends 'base.html.twig' %}
{% block stylesheet %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('css/invoice.css') }}"/>
{% endblock %}
{% block title %}Nueva factura
{% endblock %}
{% block nav %}
	{{ include('invoice/navbar.html.twig') }}
{% endblock %}
{% block body %}
	{{ form_start(form) }}

	<div class="container content-invoice">
		<div class="load-animate animated fadeInUp">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<h1>Crear nueva factura</h1>
				</div>
			</div>
			{% include "invoice/baseinvoice.html.twig" %}
		</div>
	</div>


	{{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Guardar') }}</button>
	{{ form_end(form) }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/invoice.js') }}"></script>
{% endblock %}
