{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <script src="https://kit.fontawesome.com/ec7905829e.js" crossorigin="anonymous"></script>
    <style type="text/css">
        #elementos1 {
            text-align: center;
            border: inset 7px coral;
        }
        #elementos2 {
            text-align: center;
            border: inset 7px skyblue;
        }
        #elementos1 a{
            color: black;
        }
        #elementos2 a{
            color: black;
        }
        #elementos1 a:hover, #elementos1 .btn:hover{
            color: orange;
            background-color: #1c7430;
            transition: all 2s linear;
        }
        #elementos2 a:hover, .btn:hover{
            color: pink;
            background-color: #0000cc;
            transition: all 2s linear;
        }
    </style>
{% endblock %}
{% block title %} Ver Red social{% endblock %}

{% block body %}
    <h1>Red social</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ network.name }}</td>
            </tr>
        </tbody>
    </table>
<div id="elementos2">
    <button class="btn"><a href="{{ path('network_index') }}">Regresar al listado de redes sociales</a></button>
    <button class="btn"> <a href="{{ path('network_edit', {'id': network.id}) }}">Editar</a></button>
    {{ include('network/_delete_form.html.twig') }}
</div>
{% endblock %}
