{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/register.css') }}" />
{% endblock %}

{% block title %}
  Registro
{% endblock %}

{% block body %}

  <div id="form">
    <h2 class="h3 mb-3 font-weight-normal">
      Por favor registrese
    </h2>
    {{ form_start(registrationForm) }}
    <h3><i class="fa fa-signature"></i>
      {{ form_row(registrationForm.username) }}

    </h3>

    <h3>
      {{ form_row(registrationForm.plainPassword) }}
      <i class="fa fa-key"></i>
    </h3>
    {{ form_row(registrationForm.agreeTerms) }}

    <button class="btn">
      Enviar
    </button>
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}
