{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/register.css') }}" />
{% endblock %}

{% block title %}
  Register
{% endblock %}

{% block body %}
  <h1>
    Register
  </h1>
  <div id="form">
    {{ form_start(registrationForm) }}
    <h3>
      {{ form_row(registrationForm.username) }}
    </h3>
    <h2>
      {{ form_row(registrationForm.plainPassword) }}
    </h3>
    {{ form_row(registrationForm.agreeTerms) }}

    <button class="btn">
      Register
    </button>
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}
