{% extends 'base.html.twig' %}

{% block title %}ProductLine index{% endblock %}

{% block body %}
    <h1>ProductLine index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Vat</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_line in product_lines %}
            <tr>
                <td>{{ product_line.id }}</td>
                <td>{{ product_line.description }}</td>
                <td>{{ product_line.quantity }}</td>
                <td>{{ product_line.price }}</td>
                <td>{{ product_line.vat }}</td>
                <td>{{ product_line.name }}</td>
                <td>
                    <a href="{{ path('product_line_show', {'id': product_line.id}) }}">show</a>
                    <a href="{{ path('product_line_edit', {'id': product_line.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_line_new') }}">Create new</a>
{% endblock %}
