{{ form_start(form) }}
{{ form_row(form.name, {'label': 'Nombre'}) }}
{{ form_row(form.telephone, {'label': 'Telefono'}) }}
{{ form_widget(form) }}

<div class="row justify-content-center">
	<div class="col-3">
		<button class="form-control txt text-center mt-4">{{ button_label|default('Guardar') }}</button>
	</div>
</div>
{# <button class="form-control txt mt-4">{{ button_label|default('Guardar') }}</button> #}
{{ form_end(form) }}
