{{ form_start(form) }}
	{{ form_row(form.name, {'label': 'Nombre'}) }}
	{{ form_row(form.price, {'label': 'Precio'}) }}
	{{ form_row(form.vat, {'label': 'IVA'}) }}
	{{ form_row(form.description, {'label': 'Descripcion'}) }}
	{{ form_widget(form.name) }}
	{{ form_widget(form.price) }}
	{{ form_widget(form.vat) }}
	{{ form_widget(form.description) }}
    {{ form_widget(form) }}

<div class="row justify-content-center">
	<div class="col-3">
		<button class="form-control txt text-center mt-4">{{ button_label|default('Guardar') }}</button>
	</div>
</div>
{{ form_end(form) }}
