{% extends 'base.html.twig' %}
{% block nav %}
	{{ include('navbar/shownavbar.html.twig') }}
{% endblock %}

{% block title %}Listado de productos
{% endblock %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}
{% block body %}
	<div class="container">

		<div class="row">
			<div class="col-6">
				<h1>Listado de productos</h1>
			</div>
			<div
				class="col-6">
				{# <a class="buttonize" href="{{ path('product_new', {'idempresa': id_empresa}) }}">Crear nuevo producto</a> #}

				<a title="Añadir" class="buttonize float-right" href="{{ path('product_new', {'idempresa': id_empresa}) }}">
					<i class="fas fa-plus"></i>
					Añadir</a>
			</div>


			<div class="table-responsive text-nowrap">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Precio</th>
							<th>IVA</th>
							<th width="400px">Descripción</th>
							<th>acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							{% if product.visible %}
								<tr>
									<td>{{ product.name }}</td>
									<td align="right">{{ product.price }}€</td>
									<td align="right">{{ product.vat }}€</td>
									<td>{{ product.description }}</td>
									<td>
										<a title="Seleccionar" href="{{ path('product_show', {'id': product.id}) }}">
											<i class="far fa-hand-pointer"></i>
										</a>
										<a title="Editar" href="{{ path('product_edit', {'id': product.id}) }}">
											<i class="far fa-edit"></i>
										</a>
									</td>
								</tr>
							{% endif %}
						{% else %}
							<tr>
								<td colspan="5">No se han encontrado resultados</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{# <a class="buttonize" href="{{ path('product_new', {'idempresa': id_empresa}) }}">Crear nuevo producto</a> #}
	</div>
{% endblock %}
