{{ form_start(form) }}

{{ form_label(form.name) }}
{{ form_widget(form.name) }}
{{ form_label(form.address) }}
{{ form_widget(form.address) }}
{{ form_label(form.nif) }}
{{ form_widget(form.nif) }}
{{ form_label(form.email) }}
{{ form_widget(form.email) }}
{{ form_label(form.telephone) }}
{{ form_widget(form.telephone) }}
{{ form_label(form.web) }}
{{ form_widget(form.web) }}

<label for="supervisor[]">Supervisor</label>
<select class="form-control" id="supervisor[]" name="supervisor[]">
	<option value=""></option>
	{% for supervisor in supervisors %}
		{% if supervisor.visible %}		
				<option value="{{supervisor.id}}">{{supervisor}}</option>
		{% endif %}
	{% endfor %}

</select>
{{ dump (client)}}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
