{{ form_start(form) }}

{{ form_row(form.name, {'label': 'Nombre'}) }}
{{ form_row(form.address, {'label': 'Dirección'}) }}
{{ form_row(form.nif, {'label': 'DNI'}) }}
{{ form_row(form.email, {'label': 'Email'}) }}
{{ form_row(form.telephone, {'label': 'Teléfono'}) }}
{{ form_row(form.web, {'label': 'Página web'}) }}

<label for="supervisor[]">Supervisor</label>
<select class="form-control" id="supervisor[]" name="supervisor[]">
	<option value=""></option>
	{% for supervisor in supervisors %}
		{% if supervisor.visible %}
			<option value="{{supervisor.id}}">{{supervisor}}</option>
		{% endif %}
	{% endfor %}
</select>
<script>
	var number = document.querySelector("#supervisor\\[\\]").options.length;
for (i = 0; i < number; i ++) {
{% if client.supervisor.name is defined %}
if ("{{ client.supervisor.name }}" == document.querySelector("#supervisor\\[\\]").options[i].text) {
document.querySelector("#supervisor\\[\\]").selectedIndex = i;
}
{% endif %}
}
</script>
<script src="{{ asset('js/validate.js')}}"></script>
<div class="row justify-content-center">
	<div class="col-2">
		{{ form_end(form) }}
	</div>
</div>
