{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <script src="https://kit.fontawesome.com/ec7905829e.js" crossorigin="anonymous"></script>
    <style type="text/css">
        form{
            margin:20px;
            padding: 10px;
            background-color: chocolate;
            box-shadow: 0 0 15px #374dbc;
            border: 5px solid purple;
            align: center;
        }
        input{
            align-content: center;
            margin-left: 4px;
            background-color: #1d2124;
            color: yellow;
            box-shadow: 0 0 15px orange;
            border: 3px solid pink;
            align: center;
        }
        input:focus{
            background-color: yellow;
            color: black;
            box-shadow: 0 0 15px pink;
            border: 3px solid orange;
            transition: all 1s linear;
        }
        h1{
            color:orange;
            text-align: center;
        }
        a{
            color:black;
            text-align: center;
        }
        #elementos1 {
            text-align: center;
            border: inset 7px coral;
        }
        #elementos2 {
            text-align: center;
            border: inset 7px skyblue;
        }
        #elementos1 a{
            color: black;
        }
        #elementos2 a{
            color: black;
        }
        #elementos1 a:hover, #elementos1 .btn:hover{
            color: orange;
            background-color: #1c7430;
            transition: all 2s linear;
        }
        #elementos2 a:hover, .btn:hover{
            color: pink;
            background-color: #0000cc;
            transition: all 2s linear;
        }
    </style>
{% endblock %}
{% block title %}Listar clientes{% endblock %}
{% block nav %}
{{ include('client/navbar.html.twig') }}
{% endblock %}
{% block body %}
    <h1>Listado de clientes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>DNI</th>
                <th>E-mail</th>
                <th>Telefono</th>
                <th>Web</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.nif }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.web }}</td>
                <td>
                    <a href="{{ path('client_show', {'client': client.id}) }}">Mostrar</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No se han encontrado resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div id="elementos2">
    <button class="btn"><a href="{{ path('client_new', {'idempresa': id_empresa}) }}">Crear nuevo cliente</a></button>
</div>
{% endblock %}
